<!DOCTYPE html>
<html lang="en">
{% extends "layouts/master.html" %}
{% block title %}
Cubic Plotter
{% endblock %}

{% block banner_title %}
CUBIC PLOTTER
{% endblock %}

{% block head %}
    <style>
        input {
            width: 35%;
          }
        form{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:#5BC0DE;
            color: white;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('FlaskCubicPlotter') }}">
        <label for="n">Number of X and Y elements</label>
        <p><input name="n" type="number" placeholder="Example: 4"></p>
        <label for="x">Enter the elements of X separated by space</label>
        <p><input name="x" type="text" placeholder="Example: -1 0 3 4"></p>
        <label for="y">Enter the elements of Y separated by space</label>
        <p><input name="y" type="text" placeholder="Example: 15.5 3 8 1"></p>
       
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-success btn-lg" value="Run">
                    <button type="button" class="btn btn-info btn-lg" onclick= "location='/'">Back</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block footer_help %}
<li></li>
<li></li>
{% endblock %}

{% block footer_strategies %}
<li>The polynomials P (x) through which we build the splines have grade 3, so they have the form: <br>
    P (x) = ax ^ 3 + bx ^ 2 + cx + d </li>
{% endblock %}