{% extends "layouts/master.html" %}
{% block title %}
Dolittle results
{% endblock %}

{% block banner_title %}
DOOLITTLE TABLE
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}

    <h3>Results</h3>
    {%for i in Z %}
        <pre>
            {{stage[i]}}
        </pre>

        <pre>
            {{M[i]}}
        </pre>

        <h4>L:</h4>
        <pre>
            {{L[i]}}
        </pre>

        <h4>U:</h4>
        <pre>
            {{U[i]}}
        </pre>

    {%endfor%}
    <h3>results x: </h3>
    <pre> {{result}} </pre>

    <br>
    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

{% endblock %}