{% extends "layouts/master.html" %}
{% block title %}
Fixed Point
{% endblock %}

{% block banner_title %}
FIXED Point
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<br>
    <table style="width:30%">
    <tr>
        <th>Iteraciones</th>
        <th>Xi</th> 
        <th>g(xi)</th>
        <th>f(xi)</th>
        <th>E</th>
    </tr>
    {%for i in iter %}
    <tr>
        <td>{{i}}</td>
        <td>{{xi[i]}}</td>
        <td>{{gx[i]}}</td>
        <td>{{fx[i]}}</td>
        <td>{{er[i]}}</td>
    </tr>
    {%endfor%}
    </table>
    <br/>
    <label> {{string}} </label>
    <br/>
    <br>
    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>
{% endblock %}