{% extends "layouts/master.html" %}
{% block title %}
False Rule
{% endblock %}

{% block banner_title %}
FALSE RULE
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
    <h1>Results false rule</h1>
    <h5>{{string}}</h5>

    <br>
    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

{% endblock %}