<!DOCTYPE html>
<html lang="en">
{% extends "layouts/master.html" %}
{% block title %}
Doolittle
{% endblock %}

{% block banner_title %}
DOOLITTLE

{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doolittle</title>
    <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">

    <style>
        input {
            width: 35%;
            text-align: center;
        }
        form{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        body {
            padding-bottom:60px;   /* Height of the footer */
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:#5BC0DE;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="post" action="{{ url_for('FlaskDoolittle') }}">
        <label for="m">Enter size of m</label>
        <p><input name="m" type="text" placeholder="Example: 4"></p>
        <label for="n">Enter size of n</label>
        <p><input name="n" type="text" placeholder="Example: 4"></p>
        <label for="A">Enter the elements of the A Matrix separated by space:</label>
        <p><input name="A" type="text" placeholder="Example: 4 -1 0 3 1 15.5 3 8 0 -1.3 -4 1.1 14 5 -2 30"></p>
        <label for="l_b">Enter the length b vector </label>
        <p><input name="l_b" type="text" placeholder="Example: 4"></p>
        <label for="b">Enter the elements of the b vector separated by space:</label>
        <p><input name="b" type="text" placeholder="Example: 1 1 1 1"></p>
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-success btn-lg" value="Run">
                    <button type="button" class="btn btn-info btn-lg" onclick= "location='/'">Back</button>
                </div>
            </div>
        </div>
    </form>
</body>

<footer>
    <br>
    <div class="footer">
        <p class="text-sm-CENTER" style="width: 125rem">
            In linear algebra, the Doolittle matrix factorization is an LU decomposition which decomposes a matrix into a lower triangular matrix L and an upper triangular matrix U.
            The Doolittle matrix decomposition method returns a lower triangular matrix L with ones in it’s diagonal, in such a way that A=LU.

            It is a form of LU factorization of matrices, which consists of finding a square matrix A, the upper triangular matrix (U) and the lower triangular matrix (L). In this way, L * U = A For the factorization of this case it must be fulfilled that Lii = 1, with i = 1… .., n. 
            This means that all numbers on the diagonal of the lower triangular matrix (L) must be equal to 1.
        </p>
    </div>
</footer>
{% endblock %}
</html>