{% extends "layouts/master.html" %}
{% block title %}
FALSE RULE
{% endblock %}

{% block banner_title %}
False rule
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 120%;
        background-color: #5BC0DE;
        color: white;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}

<form method="post" action="{{ url_for('FlaskFalseRule') }}">
    <label for="itera">Number of iterations</label>
    <p><input name="iter" type="text" placeholder="Example: 100"></p>
    <label for="a">left end of interval</label>
    <p><input name="x0" type="text" placeholder="Example: 0"></p>
    <label for="a">Right end of interval</label>
    <p><input name="x1" type="text" placeholder="Example: 1"></p>
    <label for="f">Function</label>
    <p><input name="fun" type="text" placeholder="Example: log(sin(x)**2+1)-1/2"></p>
    <label for="tol">Error acepted</label>
    <p><input name="err" type="text" placeholder="Example: 10**-7"></p>
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="center">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-success btn-lg" value="Run">
                <button type="button" class="btn btn-info btn-lg" onclick="location='/'">Back</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block footer_help %}
<li>The function must be continuous on the interval </li>
<li>The root must be in the interval</li>
{% endblock %}

{% block footer_strategies %}
    <li>Take as initial approximation the midpoint of the interval where the root is contained</li>
{% endblock %}
