<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
    <title>Funciones</title>
</head>
<body>
    <p><input type="submit" value="Secant" onclick= "location='/secant'" class='boton container' ></p>
    <p><input type="submit" value="Multiple Roots" onclick= "location='/multipleRoots'" class='boton container' ></p>
    <p><input type="submit" value="False Rule" onclick= "location='/false-rule'" class='boton container' ></p>
    <p><input type="submit" value="Fixed Point" onclick= "location='/fixed-point'" class='boton container' ></p>
</body>
</html>