{% extends "layouts/master.html" %}
{% block title %}
Multiple Roots Table
{% endblock %}

{% block banner_title %}
Multiple Roots Table
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<table style="width:30%">
    <tr>
        <th>Iterations</th>
        <th>Xn</th> 
        <th>f</th>
        <th>fp</th>
        <th>fpp</th>
        <th>error</th>
    </tr>
    {%for i in lis_a %}
    <tr>
        <td>{{i}}</td>
        <td>{{lis_x0[i]}}</td>
        <td>{{lis_f0[i]}}</td>
        <td>{{lis_f1[i]}}</td>
        <td>{{lis_f2[i]}}</td>
        <td>{{lis_er[i]}}</td>
    </tr>
    {%endfor%}
    </table>
    <br>

    <h3>With an error of: {{e}}</h3>

    <h3>There is a root in: {{g}}</h3> 

    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

    {% endblock %}