{% extends "layouts/master.html" %}
{% block title %}
Secant
{% endblock %}

{% block banner_title %}
Secant Method
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Multiple Roots</h1>
<form method="post" action="{{ url_for('FlaskmultRoots') }}">
    <label for="iter">Number of Iterations</label>
    <p><input name="iter" type="text" placeholder="Example: 100"></p>
    <label for="x0">Initial Value</label>
    <p><input name="x0" type="text" placeholder="Example: 1.0"></p>
    <label for="fun">Function to evaluate</label>
    <p><input name="fun" type="text" placeholder="Example: exp(x)-x-1"></p>
    <label for="err">Error Acepted</label>
    <p><input name="err" type="text" placeholder="Example: 10**-7"></p>
    
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="center">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-danger btn-lg" value="Run">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back</button>
        </div>
        </div>
        </div>
      </div>
</form>
{% endblock %}

{% block footer_help %}
<h3>In order to operate properly:</h3>
<li>In general all the roots of pair multiplicity are going to have this form.</li>
<li>The method inherits many of Newton's things.</li>
{% endblock %}


{% block footer_strategies %}
<h3>Strategies for faster convergence:</h3>
<li>The method converges quickly in generation, but care must be taken with the initial tolerance and approximation given to it.</li>
<li>Care must be taken that the denominator of the formula that describes the method does not become zero.</li>
<li>Taking a closer approximation is no guarantee that the method will converge.</li>
{% endblock %}