{% extends "layouts/master.html" %}
{% block title %}
Newton-Raphson
{% endblock %}

{% block banner_title %}
Newton-Raphson
{% endblock %}

{% block content %}

<body>
    <form method="post" id="data" action="{{ url_for('newton_results') }}">
        <div class="row justify-content-center">
            <label for="itera">Number of iterations:</label>
        </div>
        <p><input name="itera" type="text" placeholder="Example: 100"></p>

        <div class="row justify-content-center">
            <label for="x0">Initial approximation</label>
        </div>
        <p><input name="x0" type="text" placeholder="Example: 0.5"></p>

        <div class="row justify-content-center">
            <label for="fun">Function</label>
        </div>
        <p><input name="fun" type="text" placeholder="Example: log(sin(x))"></p>

        <div class="row justify-content-center">
            <label for="dfun">Function's derivative</label>
        </div>
        <p><input name="dfun" type="text" placeholder="Example: cos(x)/(sin(x)-2)"></p>

        <div class="row justify-content-center">
            <label for=" tol">Error acepted</label>
        </div>
        <p><input name="tol" type="text" placeholder="Example: 10**-7"></p>

        
        
    </form>
    
    <div class="row justify-content-center">
        <button id="solve" type="submit" form="data" class="btn btn-outline-danger btn-lg btn-block" onClick="mat()">
            Solve
        </button>
    </div>

</body>
<footer>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Table</title>
        <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
        <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            h1,
            h3,
            p,
            h2,
            pre {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <p></p>
        <h2>Results Table</h2>
        <p></p>
        <table style="width:30%">
            <tr>
                <th>Iterations</th>
                <th>Xi</th>
                <th>f(Xi)</th>
                <th>E</th>
            </tr>
            {%for i in list_it %}
            <tr>
                <td>{{i}}</td>
                <td>{{list_a[i]}}</td>
                <td>{{list_f[i]}}</td>
                <td>{{list_e[i]}}</td>
            </tr>
            {%endfor%}

        </table>
        <p></p>
        <h3>Root found in: <b>{{ root }}</b></h3>

    </body>
</footer>

{% endblock %}

{% block footer_help %}
    <li>To represent x to the power of y you must use x**y in your inputs.</li>
    <li>Both the function and its derivative must be continuous on the interval.</li>
    <li>The root must be in the interval.</li>
    <li>The derivative does not become 0 in the root.</li>
{% endblock %}

{% block footer_strategies %}
    <li>Take as initial approximation the midpoint of the interval where the root is contained.</li>
{% endblock %}

