{% extends "layouts/master.html" %}
{% block title %}
Quadratic Plotter
{% endblock %}

{% block banner_title %}
Quadratic Plotter Method
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Quadratic Plotter Data</h1>
    <form method="post" action="{{ url_for('FlaskQuadraticp') }}">
        <label for="n">Number of X and Y elements</label>
        <p><input name="n" type="number" placeholder="Example: 4"></p>
        <label for="x">Enter the elements of X separated by space</label>
        <p><input name="x" type="text" placeholder="Example: -1 0 3 4"></p>
        <label for="y">Enter the elements of Y separated by space</label>
        <p><input name="y" type="text" placeholder="Example: 15.5 3 8 1"></p>
        
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-danger btn-lg" value="Run">
                    <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back</button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block footer_help %}
<h3>In order to operate properly:</h3>
<li>The Quadratic tracer must meet the conditions of interpolation and continuity. These are described next.
</li>
{% endblock %}


{% block footer_strategies %}
<h3>Strategies for convergence:</h3>
<li>Not necessarily more points implies a better approximation.</li>
Given a function \(f\) in \([a, b]\) and nodes \( a = x_0 \lt x_1 \lt \cdots \lt x_n = b \) , an interpolating linear spline 
\(p\) for \(f\) is a function that satisfies the following conditions:
<li>\( p(x) \) is a linear polynomial, defined \(p_j(x)\), over the interval \([x_{j-1}, x_{j}]\) for each \(j=1,...,n\)</li>
<li>\( p_j(x_{j-1}) = f(x_{j-1})\) and \(p_j(x_{j}) = f(x_{j})\) for each \(j=1,...,n\)</li>
<li>\( p_{j+1}(x_{j}) = p_j(x_j)\) for each \(j=1,...,n-1\)</li>
<li>\( p'_{j+1}(x_{j}) = p'_j(x_j)\) for each \(j=1,...,n-1\)</li>
<li>\( p''_1(x_1)=0 \)</li>

{% endblock %}