{% extends "layouts/master.html" %}
{% block title %}
Quadratic Plotter Table
{% endblock %}

{% block banner_title %}
Quadratic Plotter Table
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<h1>Quadratic Plotter</h1>

    <h3>Quadratic Plotter A Matrix</h3>
    <pre>
        {{A}}
    </pre>

    <h3>Quadratic Plotter B Vector</h3>
    <p>
        {{b}}
    </p>

    <h3>Polynomial Coefficients</h3>
    <p> {{S}} </p>
    <p>To assemble the function in strokes, take groups of 3 elements</p>

    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

    {% endblock %}