{% extends "layouts/master.html" %}
{% block title %}
Incremental searches
{% endblock %}

{% block banner_title %}
Incremental searches
{% endblock %}

{% block content %}

<body>
    <form method="post" id="data" action="{{ url_for('searches_results') }}">

        <div class="row justify-content-center">
            <label for="itera">Number of iterations</label>
        </div>
        <p><input name="itera" type="text" placeholder="Example: 100"></p>

        <div class="row justify-content-center">
            <label for="x0">Initial approximation</label>
        </div>
        <p><input name="x0" type="text" placeholder="Example: -3"></p>

        <div class="row justify-content-center">
            <label for="delta">Delta</label>
        </div>
        <p><input name="delta" type="text" placeholder="Example: 0.5"></p>

        <div class="row justify-content-center">
            <label for="f">Function</label>
        </div>
        <p><input name="f" type="text" placeholder="Example: log(sin(x))"></p>

    </form>

    <div class="row justify-content-center">
        <button id="solve" type="submit" form="data" class="btn btn-outline-danger btn-lg btn-block">
            Solve
        </button>
    </div>

</body>
<footer>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Table</title>
        <!--<link rel="shortcut icon" href="../static/imgs/favicon.ico"> -->
        <link rel="shortcut icon" href="{{ url_for('static' , filename = 'imgs/favicon.ico') }}">
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            h1,
            h3,
            p,
            h2,
            pre {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <p></p>
        <h2>Results Table</h2>
        <table style="width:40%">
            <tr>
                <th>Iterations</th>

            </tr>
            {%for iteration in list_apr %}
            <tr>
                <td>{{iteration}}</td>
            </tr>
            {%endfor%}

        </table>
        <p></p>


    </body>
    <div class="row cols-sm">
        <div class="col-lg-4 py-3">
            <div class="col-lg-6 py-3 float-right" id="plotSettings" style="border:4px solid grey; border-radius:15px;">
                <label for="function"><b>Function: </b></label>
                <input id="function" type="text" value="{{funplot}}"" onchange="plot();" size="13">
                <p></p>
                <label for="color"><b>Color: </b></label>
                <input type=color id="color" onchange="plot();">
                <p></p>
                <button class="btn btn-danger float-right" id="plot" onclick="plot();">Plot</button>
            </div>
        </div>
        <div class="col-lg-8 py-3">
            <div id="myFunction">
    
            </div>
        </div>
    </div>
</footer>


{% endblock %}

{% block footer_help %}
<li>To represent x to the power of y you must use x**y in your inputs.</li>
<li>The function must be continuous.</li>
<li>There is a change of sign.</li>
<li>If you choose a very large delta, you take the risk of the root being skipped by the method.</li>
{% endblock %}

{% block footer_strategies %}
<li>Take a value close to the root as an initial approximation, considering the delta value to avoid skipping the root.</li>
{% endblock %}

{% block script %}
<script>
    var parameters = {
        target: '#myFunction',
        data: [{
            fn: 'sin(2x)',
            color: 'red'
        }],
        grid: false,
        yAxis: { domain: [-1, 1] },
        xAxis: { domain: [0, 2 * Math.PI] }
    };

    function plot() {
        var f = document.querySelector("#function").value;
        var color = document.querySelector("#color").value;

        parameters.data[0].fn = f;
        parameters.data[0].color = color;

        functionPlot(parameters);
    }
</script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
{% endblock %}