{% extends "layouts/master.html" %}
{% block title %}
Secant
{% endblock %}

{% block banner_title %}
Secant Method
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1><b>Secant Method</b></h1>
<form method="post" action="{{ url_for('FlaskSecant') }}">
    <label for="iter">Number of Iterations</label>
    <p><input name="iter" type="text" placeholder="Example: 100"></p>
    <label for="x0">Initial Value</label>
    <p><input name="x0" type="text" placeholder="Example: 1.0"></p>
    <label for="x1">Second Initial Value</label>
    <p><input name="x1" type="text" placeholder="Example 1.5"></p>
    <label for="fun">Function to evaluate</label>
    <p><input name="fun" type="text" placeholder="Example: exp(x)-x-1"></p>
    <label for="err">Error Acepted</label>
    <p><input name="err" type="text" placeholder="Example: 10**-7"></p>
    <div class="container">
        <div class="col-xs-4"></div>
        <div class="center">
            <div class="col-xs-4">
                <input type="submit" class="btn btn-danger btn-lg" value="Run">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block footer_help %}
<h3>In order to operate properly:</h3>
<li>The function must be continuous on the interval</li>
<li>The root must be in the interval</li>
<li>The derivative does not become 0 in the root</li>
{% endblock %}


{% block footer_strategies %}
<h3>Strategies for faster convergence:</h3>
<li>Take as initial approximations the interval where the root is</li>
<li>If you used one of the fixed-point methods, such as Newton, you can take the same initial 
    approach and modify the figure minimally for the second value</li>
{% endblock %}