{% extends "layouts/master.html" %}
{% block title %}
Secant Table
{% endblock %}

{% block banner_title %}
Secant Table
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<h1>Secant Table</h1>
    <table style="width:30%">
    <tr>
        <th>Iterations</th>
        <th>Xi</th> 
        <th>f(Xi)</th>
        <th>error</th>
    </tr>
    {%for i in lis_a %}
    <tr>
        <td>{{i}}</td>
        <td>{{lis_xi[i]}}</td>
        <td>{{lis_fx[i]}}</td>
        <td>{{lis_er[i]}}</td>
    </tr>
    {%endfor%}
    </table>

    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

    {% endblock %}