{% extends "layouts/master.html" %}
{% block title %}
SOR
{% endblock %}

{% block banner_title %}
SOR Method
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>SOR DATA</h1>

    <form method="post" action="{{ url_for('FlaskSor') }}">
        <label for="m">Enter size of m</label>
        <p><input name="m" type="number" placeholder="Example: 4"></p>
        <label for="n">Enter size of n</label>
        <p><input name="n" type="number" placeholder="Example: 4"></p>
        <label for="A">Enter the elements of the A Matrix separated by space:</label>
        <p><input name="A" type="text" placeholder="Example: 4 -1 0 3 1 15.5 3 8 0 -1.3 -4 1.1 14 5 -2 30"></p>
        <label for="b">Enter the elements of the b vector separated by space:</label>
        <p><input name="b" type="text" placeholder="Example: 1 1 1 1"></p>
        <label for="x0">Enter the elements of the x0 vector separated by space:</label>
        <p><input name="x0" type="text" placeholder="Example: 0 0 0 0"></p>
        <label for="iter">Enter the maximum number of iterations:</label>
        <p><input name="iter" type="number" placeholder="Example: 100"></p>
        <label for="error">Enter the maximum absolute error accepted:</label>
        <p><input name="error" type="text" placeholder="Example: 10**-7"></p>
        <label for="w">Enter the lambda of relaxation:</label>
        <p><input name="w" type="text" placeholder="Example: 1.5"></p>
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-danger btn-lg" value="Run">
                    <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back</button>
            </div>
            </div>
            </div>
          </div>
    </form>

{% endblock %}

{% block footer_help %}
<h3>In order to operate properly:</h3>
<li>If \( w=1 \) you have Gauss Seidel</li>
<li>If \(0 < w < 1 \) Sub-relaxation methods are obtained, used for the convergence of non-converging systems by Gauss Seidel.</li>
<li>If \( 1 < w < 2 \) Sub-relaxation methods are obtained, used to accelerate the convergence of converging systems by Gauss Seidel.</li>
{% endblock %}


{% block footer_strategies %}
<h3>Strategies for faster convergence:</h3>
<li>SOR Convergence: If \( A \) is a positive defined symmetric matrix and \( 0 < w < 2 \), then the relaxation method converges for any initial approach \( X^0 \)</li>
{% endblock %}