{% extends "layouts/master.html" %}
{% block title %}
SOR Table
{% endblock %}

{% block banner_title %}
SOR Table
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<h1>SOR</h1>

    <h3>The gaussian transition matrix seidel:</h3>
    <pre>
        {{Tw}}
    </pre>

    <h3>Spectral radius:</h3>
    <p> {{re}} </p>

    <h3>The constant vector is:</h3>
    <p> {{Cw}} </p>

    <h1>SOR Table</h1>
    <table style="width:30%">
    <tr>
        <th>Iterations</th>
        <th>X1</th> 
        <th>X2</th>
        <th>X3</th>
        <th>Error</th>
    </tr>
    {%for i in lis_a %}
    <tr>
        <td>{{i}}</td>
        <td>{{x1[i]}}</td>
        <td>{{x2[i]}}</td>
        <td>{{x3[i]}}</td>
        <td>{{er[i]}}</td>
    </tr>
    {%endfor%}
    </table>

    <br>
    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

    {% endblock %}