{% extends "layouts/master.html" %}
{% block title %}
Vandermonde
{% endblock %}

{% block banner_title %}
Vandermonde Method
{% endblock %}

{% block head %}
<style>
    input {
        width: 35%;
        text-align: center;
    }

    form {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Vandermonde Data</h1>
    <form method="post" action="{{ url_for('FlaskVandermonde') }}">
        <label for="n">Number of X and Y elements</label>
        <p><input name="n" type="number" placeholder="Example: 4"></p>
        <label for="x">Enter the elements of X separated by space</label>
        <p><input name="x" type="text" placeholder="Example: -1 0 3 4"></p>
        <label for="y">Enter the elements of Y separated by space</label>
        <p><input name="y" type="text" placeholder="Example: 15.5 3 8 1"></p>
        
        <div class="container">
            <div class="col-xs-4"></div>
            <div class="center">
                <div class="col-xs-4">
                    <input type="submit" class="btn btn-danger btn-lg" value="Run">
                    <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back</button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block footer_help %}
<h3>In order to operate properly:</h3>
<li>You must be careful with the vectors that are introduced, the rounding error will prove that the
    approach found by the method is not very accurate. If possible enter the full value
</li>
{% endblock %}


{% block footer_strategies %}
<h3>Strategies for faster convergence:</h3>
<li>Not necessarily more points implies a better approximation</li>
{% endblock %}