{% extends "layouts/master.html" %}
{% block title %}
Vandermonde Table
{% endblock %}

{% block banner_title %}
Vandermonde Table
{% endblock %}

{% block head %}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h3, p, h2, pre{
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
<h1>Vandermonde</h1>

<h3>Vandermonde Matrix</h3>
<pre>
    {{A}}
</pre>

<h3>Polynomial Coefficients</h3>
<p> {{b}} </p>

<h3>Vandermonde Polynomial</h3>
<p> \( {{a}} \) </p>

    <br>
    <div class="container">
        <div class="col-xs-6"></div>
        <div class="center">
            <div class="col-xs-6">
                <button type="button" class="btn btn-dark btn-lg" onclick="location='/'">Back to main menu</button>
            </div>
        </div>
    </div>

    <br>

    {% endblock %}